In [2]:
import pandas as pd
import numpy as nm
df = pd.read_excel("C:\\Users\\artem\\YandexDisk\\Porg\\Py\\stsystem\\direct.xlsx")
df.head(4)

,data,company,number_company,impressions,clicks,ctr,cost,avg_clck,avg_bid,avg_pos,conv
0,2020-12-25,Пеноплекс / Поиск / Краснодар,57733902,46,9,19.57,126.07,14.01,35.65,2.95,0
1,2020-12-25,Пеноплекс / Поиск / Ростов,57733910,49,7,14.29,86.57,12.37,32.73,2.07,0
2,2020-12-25,Пеноплекс / Поиск / Пятигорск,57733916,8,0,0.00,0.00,0.00,0.00,1.57,0
3,2020-12-25,Базальт / Поиск / Краснодар,57733919,19,5,26.32,76.98,15.40,32.18,2.62,0

In [28]:
def convet_price_rate (df):
    if 0 < df.cost < 400:
        return "Wery well"
    elif 400 < df.cost < 700:
        return "Normal"
    elif df.cost == 0:
        return "-"
    else:
        return "Wery bad"

In [29]:
rating_converse = df.apply(convet_price_rate, axis='columns')
df['rating_converse '] = rating_converse
df.head()

,data,company,number_company,impressions,clicks,ctr,cost,avg_clck,avg_bid,avg_pos,conv,rating_converse
0,2020-12-25,Пеноплекс / Поиск / Краснодар,57733902,46,9,19.57,126.07,14.01,35.65,2.95,0,Wery well
1,2020-12-25,Пеноплекс / Поиск / Ростов,57733910,49,7,14.29,86.57,12.37,32.73,2.07,0,Wery well
2,2020-12-25,Пеноплекс / Поиск / Пятигорск,57733916,8,0,0.00,0.00,0.00,0.00,1.57,0,-
3,2020-12-25,Базальт / Поиск / Краснодар,57733919,19,5,26.32,76.98,15.40,32.18,2.62,0,Wery well
4,2020-12-25,Базальт / Поиск / Ростов,57733930,14,3,21.43,90.43,30.14,39.78,2.77,0,Wery well

In [27]:
df.conv.info()

<class 'pandas.core.series.Series'>
RangeIndex: 6948 entries, 0 to 6947
Series name: conv
Non-Null Count  Dtype
--------------  -----
6948 non-null   int64
dtypes: int64(1)
memory usage: 54.4 KB