In [30]:
import pandas as pd
import numpy as nm
df = pd.read_excel("C:\\Users\\artem\\YandexDisk\\Porg\\Py\\stsystem\\direct.xlsx")
pd.set_option("display.max_rows", 7)
df

,data,company,number_company,impressions,clicks,ctr,cost,avg_clck,avg_bid,avg_pos,conv
0,2020-12-25,Пеноплекс / Поиск / Краснодар,57733902,46,9,19.57,126.07,14.01,35.65,2.95,0
1,2020-12-25,Пеноплекс / Поиск / Ростов,57733910,49,7,14.29,86.57,12.37,32.73,2.07,0
2,2020-12-25,Пеноплекс / Поиск / Пятигорск,57733916,8,0,0.00,0.00,0.00,0.00,1.57,0
...,...,...,...,...,...,...,...,...,...,...,...
6945,2022-03-17,Стекловата / Краснодар /,59367619,1,0,0.00,0.00,0.00,0.00,1.00,0
6946,2022-03-17,Пеноплекс / Поиск / Крым,68628168,8,1,12.50,56.58,56.58,138.02,1.14,0
6947,2022-03-17,Базальт / Поиск / Крым,69775818,2,1,50.00,9.31,9.31,16.00,2.50,0

In [31]:
df.groupby('company').apply(lambda df: df.number_company.iloc[0])

company
ROCKWOOL / Поиск / Ростов.            60698110
URSA / Поиск / Ростов                 60154017
Аудитории / РСЯ /                     60917897
                                        ...
Экоролл / Поиск /  РФ                 64783500
Экоролл / Поиск /  Ростов             57733969
Экоролл / Поиск /  Северный Кавказ    57733989
Length: 48, dtype: int64

In [32]:
df['month'] = df['data'].dt.month
df

,data,company,number_company,impressions,clicks,ctr,cost,avg_clck,avg_bid,avg_pos,conv,month
0,2020-12-25,Пеноплекс / Поиск / Краснодар,57733902,46,9,19.57,126.07,14.01,35.65,2.95,0,12
1,2020-12-25,Пеноплекс / Поиск / Ростов,57733910,49,7,14.29,86.57,12.37,32.73,2.07,0,12
2,2020-12-25,Пеноплекс / Поиск / Пятигорск,57733916,8,0,0.00,0.00,0.00,0.00,1.57,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...
6945,2022-03-17,Стекловата / Краснодар /,59367619,1,0,0.00,0.00,0.00,0.00,1.00,0,3
6946,2022-03-17,Пеноплекс / Поиск / Крым,68628168,8,1,12.50,56.58,56.58,138.02,1.14,0,3
6947,2022-03-17,Базальт / Поиск / Крым,69775818,2,1,50.00,9.31,9.31,16.00,2.50,0,3

In [33]:
df.groupby('month').conv.count()

month
1     669
2     853
3     844
     ...
10    476
11    493
12    501
Name: conv, Length: 12, dtype: int64

In [55]:
# agg([len, min, max])
df.groupby(['month']).conv.agg([sum, len, max])

       sum  len  max
month
1      465  669   21
2      358  853   22
3      139  844    7
...    ...  ...  ...
10     382  476   29
11     707  493   27
12     493  501   22

[12 rows x 3 columns]