In [33]:
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
import numpy as nm
import datetime
df = pd.read_excel("C:\\Users\\artem\\YandexDisk\\Porg\\Py\\stsystem\\direct.xlsx")
df.head(4)

,data,company,number_company,impressions,clicks,ctr,cost,avg_clck,avg_bid,avg_pos,conv
0,2020-12-25,Пеноплекс / Поиск / Краснодар,57733902,46,9,19.57,126.07,14.01,35.65,2.95,0
1,2020-12-25,Пеноплекс / Поиск / Ростов,57733910,49,7,14.29,86.57,12.37,32.73,2.07,0
2,2020-12-25,Пеноплекс / Поиск / Пятигорск,57733916,8,0,0.00,0.00,0.00,0.00,1.57,0
3,2020-12-25,Базальт / Поиск / Краснодар,57733919,19,5,26.32,76.98,15.40,32.18,2.62,0

In [32]:
#компания с самой высокой ценой цели
conv_cost = df.cost.idxmax()
dvcads = df.loc[conv_cost, "cost"]

5093.15

In [35]:
df['company'].map({'Пеноплекс / Поиск / Ростов':57733910, 'Пеноплекс / Поиск / Пятигорск':57733916})

,data,company,number_company,impressions,clicks,ctr,cost,avg_clck,avg_bid,avg_pos,conv
0,2020-12-25,Пеноплекс / Поиск / Краснодар,57733902,46,9,19.57,126.07,14.01,35.65,2.95,0
1,2020-12-25,Пеноплекс / Поиск / Ростов,57733910,49,7,14.29,86.57,12.37,32.73,2.07,0
2,2020-12-25,Пеноплекс / Поиск / Пятигорск,57733916,8,0,0.00,0.00,0.00,0.00,1.57,0
3,2020-12-25,Базальт / Поиск / Краснодар,57733919,19,5,26.32,76.98,15.40,32.18,2.62,0
4,2020-12-25,Базальт / Поиск / Ростов,57733930,14,3,21.43,90.43,30.14,39.78,2.77,0
...,...,...,...,...,...,...,...,...,...,...,...
6943,2022-03-17,Гидроизоляция / Поиск / Ростов,58099999,9,1,11.11,33.03,33.03,81.91,2.00,0
6944,2022-03-17,Проф. мембрана / Краснодар,59366016,2,0,0.00,0.00,0.00,0.00,1.00,0
6945,2022-03-17,Стекловата / Краснодар /,59367619,1,0,0.00,0.00,0.00,0.00,1.00,0
6946,2022-03-17,Пеноплекс / Поиск / Крым,68628168,8,1,12.50,56.58,56.58,138.02,1.14,0
6947,2022-03-17,Базальт / Поиск / Крым,69775818,2,1,50.00,9.31,9.31,16.00,2.50,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6948 entries, 0 to 6947
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data            6948 non-null   datetime64[ns]
 1   company         6948 non-null   object
 2   number_company  6948 non-null   int64
 3   impressions     6948 non-null   int64
 4   clicks          6948 non-null   int64
 5   ctr             6948 non-null   float64
 6   cost            6948 non-null   float64
 7   avg_clck        6948 non-null   float64
 8   avg_bid         6948 non-null   float64
 9   avg_pos         6948 non-null   float64
 10  conv            6948 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(1)
memory usage: 597.2+ KB

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6948 entries, 0 to 6947
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data            6948 non-null   datetime64[ns]
 1   company         6948 non-null   object
 2   number_company  6948 non-null   int64
 3   impressions     6948 non-null   int64
 4   clicks          6948 non-null   int64
 5   ctr             6948 non-null   float64
 6   cost            6948 non-null   float64
 7   avg_clck        6948 non-null   float64
 8   avg_bid         6948 non-null   float64
 9   avg_pos         6948 non-null   float64
 10  conv            6948 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(1)
memory usage: 597.2+ KB

In [8]:
pd.DataFrame({
    'Missing': df.isna().sum(),
    'Missing(%)': (df.isna().sum() / df.shape[0]) * 100
}).sort_values(by='Missing', ascending=False)

                Missing  Missing(%)
data                  0         0.0
company               0         0.0
number_company        0         0.0
impressions           0         0.0
clicks                0         0.0
ctr                   0         0.0
cost                  0         0.0
avg_clck              0         0.0
avg_bid               0         0.0
avg_pos               0         0.0
conv                  0         0.0

In [9]:
print(f'Missing cells: {df.isna().sum().sum()}')
print(f'Missing cells(%): {round((df.isna().sum().sum() / (df.shape[0] * df.shape[1])) * 100, 2)}%')

Missing cells: 0
Missing cells(%): 0.0%

In [10]:
df.duplicated().sum()
# <удаление всех дубликатов из таблицы df специальным методом>
# df = df.drop_duplicates().reset_index(drop=True)

0

Прверка гипотезы о том, что день недели вляиет на конверсию.

In [11]:
df['weekday'] = df['data'].dt.day_name()

In [12]:
df.groupby('weekday')['conv'].count()

weekday
Friday       1367
Monday       1273
Saturday       88
Sunday         54
Thursday     1402
Tuesday      1374
Wednesday    1390
Name: conv, dtype: int64

In [ ]:
df.groupby('weekday')['conv'].count()

weekday
Friday       1367
Monday       1273
Saturday       88
Sunday         54
Thursday     1402
Tuesday      1374
Wednesday    1390
Name: conv, dtype: int64